<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" [routerLink]="'.'">Bürgerbüro</a>

    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <button type="button" class="btn btn-outline-info" [routerLink]="'home'"><mat-icon>home</mat-icon> Home</button>
        <button type="button" class="btn btn-outline-info" [routerLink]="'black-board'"><mat-icon>assignment</mat-icon> Aushänge</button>
        <button type="button" class="btn btn-outline-info" [routerLink]="'user-account'"><mat-icon>settings</mat-icon> Konto</button>
        <button type="button" class="btn btn-outline-info" [routerLink]="'work'"><mat-icon>work</mat-icon> Work</button>
        <button type="button" class="btn btn-outline-info" [routerLink]="'.'"><mat-icon>account_circle</mat-icon> Login</button>
      </ul>
    </div>
  </div>
</nav>

