<div class="container">
  <div id="content">
    <div class="shadow p-3 bg-white rounded">
      <h4 class="border-bottom border-gray pb-3 text-info">Willkommen im Bürgerbüro der Smart City</h4>
      <div class="row">
        <div class="col-xl-5">
          <img src="../../assets/img/skyline_color.png" class="img-fluid mt-5" alt="Responsive image">
        </div>
        <div class="col">
          <p class="mt-2">Dieses Amt ist ein Service innerhalb der Smart City. Es dient als Anlaufstelle für alle Bürgerinnen und Bürger, die neu in die Stadt einziehen wollen oder schon in der Stadt wohnen.
            Jeder Interessent, der in die Smart City einziehen möchte, kann im Bürgerbüro über den Button Anmeldung oben in der Navigationsleiste ein zentrales Nutzerkonto eröffnen, welches für alle Dienstleister
            innerhalb der Smart City genutzt wird.</p>
          <p class="mt-2">Außerdem steht jedem die Einsicht auf das schwarze Brett offen (Navigationsmenü Aushänge), an welchem Aushänge über die neusten Informationen sowie abgegebene Fundgestände zu finden sind.
            Bürgerinnen und Bürger, welche bereits in der Smart City wohnen und ein Nutzerkonto besitzen, können in Menüpunkt Konto ihre Daten anpassen sowie eigene Aushänge für das schwarze Brett erstellen.
            Zudem können Sie Fundgegenstände abgeben oder auch abholen.</p>
        </div>
      </div>
  </div>
</div>

