<div class="container">
  <div id="content">
    <div class="shadow p-3 bg-white rounded">
      <h4 class="text-info">Aushänge</h4>
      <ngb-tabset #t="ngbTabset" justify="end">
        <ngb-tab id="tab-selectbyid1"  title="Aushänge">
          <ng-template ngbTabContent>
            <div class="p-3">
              <div class="row">
                <div class="col-xl-3 card mr-3 mb-3" *ngFor="let announcement of announcementList" [ngClass]="constants.currentUser != null && announcement.uid == constants.currentUser.uid && constants.userRole == 1 ? 'bg-custom' : 'bg-light'">
                  <div class="card-body">
                    <h5 class="card-title">{{announcement.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Von: {{announcement.source}}</h6>
                    <p class="card-text">{{announcement.text | slice:0:95}}...</p>
                  </div>
                  <div class="card-footer" [ngClass]="constants.currentUser != null && announcement.uid == constants.currentUser.uid && constants.userRole == 1 ? 'bg-custom' : 'bg-light'">
                    <div class="float-right">
                      <mat-icon *ngIf="constants.currentUser != null && (announcement.uid == constants.currentUser.uid || constants.currentUser.role == 2)">delete</mat-icon>
                      <mat-icon (click)="openAnnouncementDetailView(announcementDetail, announcement)">search</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-selectbyid2" title="Fundgegenstände">
          <ng-template ngbTabContent>
            <div class="p-3">
              <div class="row">
                <div class="col-xl-3 card mr-3 mb-3" *ngFor="let foundObject of foundObjectList" [ngClass]="constants.currentUser != null && foundObject.uid == constants.currentUser.uid && constants.userRole == 1 ? 'bg-custom' : 'bg-light'">
                  <div class="card-body">
                    <h5 class="card-title">{{foundObject.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Von: {{foundObject.source}}</h6>
                    <p class="card-text">{{foundObject.text | slice:0:100}}</p>
                  </div>
                  <div class="card-footer" [ngClass]="constants.currentUser != null && foundObject.uid == constants.currentUser.uid && constants.userRole == 1 ? 'bg-custom' : 'bg-light'">
                    <div class="float-right">
                      <mat-icon *ngIf="constants.currentUser != null && constants.currentUser.role == 2">delete</mat-icon>
                      <mat-icon (click)="openFoundObjectDetailView(foundObjectDetail, foundObject)">search</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>

<ng-template #announcementDetail let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{currentAnnouncement.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <img class="img-fluid col-xl-4" src="{{currentAnnouncement.image}}" *ngIf="currentAnnouncement.image != null"/>
      <p class="col">{{currentAnnouncement.text}}</p>
    </div>
  </div>
  <div class="modal-footer">
    <div class="float-right">
      <mat-icon>print</mat-icon>
    </div>
  </div>
</ng-template>

<ng-template #foundObjectDetail let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{currentFoundObject.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <img class="img-fluid col-xl-4" src="{{currentFoundObject.image}}" *ngIf="currentFoundObject.image != null"/>
      <p class="col">{{currentFoundObject.text}}</p>
    </div>
    <div *ngIf="constants.firebaseUser != null && (constants.firebaseUser.uid != currentFoundObject.uid)">
      <div class="row mt-4 p-3">
        <h5 class="text-info">Diesen Fundgegenstand abholen? Bitte verifiziere, dass dieser Gegenstand dir gehört!</h5>
      </div>
      <div class="row mt-2 p-2">
        <div class="col-xl-6">
          <form [formGroup]="receiveFoundObjectForm" id="receiveFoundObjectFormId" (ngSubmit)="receiveFoundObject()" >
            <div class="form-group">
              <div class="form-row">
                <label for="question1" class="control-label font-weight-bold">Beispielfrage 1</label>
                <input type="text" id="question1" class="form-control" formControlName="question1">
              </div>
              <div class="form-row mt-2">
                <label for="question2" class="control-label font-weight-bold">Beispielfrage 2</label>
                <input type="text" id="question2" class="form-control" formControlName="question2">
              </div>
              <div class="form-row mt-2">
                <label for="question3" class="control-label font-weight-bold">Beispielfrage 3</label>
                <input type="text" id="question3" class="form-control" formControlName="question3">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button form="receiveFoundObjectFormId" type="submit" class="btn btn-info float-right">Abholen</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="float-right">
      <mat-icon>print</mat-icon>
    </div>
  </div>
</ng-template>
