<div class="container">
  <div id="content">
    <div class="shadow p-3 bg-white rounded">
      <h4 class="text-info">Aushänge</h4>
      <ngb-tabset #t="ngbTabset" justify="end">
        <ngb-tab id="tab-selectbyid1">
          <ng-template ngbTabTitle>Aushänge <span class="badge badge-info" *ngIf="announcementList.length > 0">{{announcementList.length}}</span></ng-template>
          <ng-template ngbTabContent>
            <div class="p-3">
              <div class="row">
                <h6 *ngIf="announcementList.length == 0">Es sind keine Aushänge vorhanden.</h6>
                <div class="col-xl-3 card mr-3 mb-3" *ngFor="let announcement of announcementList; trackBy:trackByObj" [ngClass]="constants.currentUser != null && announcement.uid == constants.currentUser.uid && constants.userRole == 1 ? 'bg-custom' : 'bg-light'">
                  <div class="card-body">
                    <h5 class="card-title">{{announcement.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Von: {{announcement.source}}</h6>
                    <p class="card-text">{{announcement.text | slice:0:95}}...</p>
                  </div>
                  <div class="card-footer bg-transparent">
                    <div class="float-right">
                      <mat-icon *ngIf="constants.currentUser != null && (announcement.uid == constants.currentUser.uid || constants.currentUser.role == 2)" (click)="openDeletionConfirmation(deactivateConfirmation, announcement)" ngbTooltip="Aushang entfernen">delete</mat-icon>
                      <mat-icon (click)="openDetailView(announcementDetail, announcement)" ngbTooltip="Detailansicht">search</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-selectbyid2">
          <ng-template ngbTabTitle>Fundgegenstände <span class="badge badge-info" *ngIf="foundObjectList.length > 0">{{foundObjectList.length}}</span></ng-template>
          <ng-template ngbTabContent>
            <div class="p-3">
              <div class="row">
                <h6 *ngIf="foundObjectList.length == 0">Es sind keine Fundgegenstände vorhanden.</h6>
                <div class="col-xl-3 card mr-3 mb-3" *ngFor="let foundObject of foundObjectList; trackBy:trackByObj" [ngClass]="constants.currentUser != null && foundObject.uid == constants.currentUser.uid && constants.userRole == 1 ? 'bg-custom' : 'bg-light'">
                  <div class="card-body">
                    <h5 class="card-title">{{foundObject.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Von: {{foundObject.source}}</h6>
                    <p class="card-text">{{foundObject.text | slice:0:100}}</p>
                  </div>
                  <div class="card-footer bg-transparent">
                    <div class="float-right">
                      <mat-icon *ngIf="constants.currentUser != null && constants.currentUser.role == 2" (click)="openDeletionConfirmation(deactivateConfirmation, foundObject)" ngbTooltip="Aushang entfernen">delete</mat-icon>
                      <mat-icon (click)="openDetailView(foundObjectDetail, foundObject)" ngbTooltip="Detailansicht">search</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-selectbyid3" *ngIf="constants.userRole == 1">
          <ng-template ngbTabTitle>Meins <span class="badge badge-info" *ngIf="userAnnouncements.length > 0">{{userAnnouncements.length}}</span></ng-template>
          <ng-template ngbTabContent>
            <div class="p-3">
              <div class="row">
                <h6 *ngIf="userAnnouncements.length == 0">Du hast keine Aushänge erstellt. </h6>
                <div class="col-xl-3 card mr-3 mb-3" *ngFor="let userAnnouncement of userAnnouncements; trackBy:trackByObj" [ngClass]="userAnnouncement.isActive == true ? 'bg-approved' : 'bg-pending'">
                  <div class="card-body">
                    <h5 class="card-title">{{userAnnouncement.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Von: {{userAnnouncement.source}}</h6>
                    <p class="card-text">{{userAnnouncement.text | slice:0:100}}</p>
                  </div>
                  <div class="card-footer bg-transparent pb-0">
                    <div class="float-left">
                      <mat-icon [ngClass]="userAnnouncement.isActive == true ? 'mat-icon-approved' : 'mat-icon-pending'">{{userAnnouncement.isActive == true ? 'done' : 'warning'}}</mat-icon>
                      <p class="float-right ml-1" [ngClass]="userAnnouncement.isActive == true ? 'text-success' : 'text-warning'">{{userAnnouncement.isActive == true ? 'Akzeptiert' : 'Ausstehend'}}</p>
                    </div>
                    <div class="float-right">
                      <mat-icon *ngIf="userAnnouncement.isActive == true && userAnnouncement.type == 'announcement'" (click)="openDeletionConfirmation(deactivateConfirmation, userAnnouncement)" ngbTooltip="Aushang entfernen">delete</mat-icon>
                      <mat-icon (click)="openDetailView(foundObjectDetail, userAnnouncement)" ngbTooltip="Detailansicht">search</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>

<ng-template #deactivateConfirmation let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Aushang wirklich löschen?</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <span>Bist du sicher, dass du den Aushang '{{currentAnnouncement.title}}' wirklich löschen möchtest? Der Aushang kann nicht wiederhergestellt werden.</span>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn btn-info" (click)="confirmDeletion()">Löschen</button>
  </div>
</ng-template>

<ng-template #announcementDetail let-modal>
  <div id="print-section">
    <div class="modal-header d-block">
      <div class="d-flex">
        <h4 class="modal-title">{{currentAnnouncement.title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h6 class="modal-title text-muted">Erstellt von '{{currentCreator != null ? currentCreator.nickName : 'Anonym'}}'</h6>
    </div>
    <div class="modal-body">
      <div class="row">
        <img class="img-fluid col-xl-4" src="{{currentAnnouncement.image}}" *ngIf="currentAnnouncement.image != null"/>
        <p class="col">{{currentAnnouncement.text}}</p>
      </div>
    </div>
    <div class="modal-footer">
      <div class="float-right">
        <mat-icon *ngIf="currentCreator != null && currentCreator.email != undefined" class="mr-2" (click)="mailTo()" ngbTooltip="Mail an Ersteller senden">mail</mat-icon>
        <mat-icon (click)="printAnnouncement(currentAnnouncement)" ngbTooltip="Als PDF anzeigen">print</mat-icon>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #foundObjectDetail let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{currentAnnouncement.title}}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <img class="img-fluid col-xl-4" src="{{currentAnnouncement.image}}" *ngIf="currentAnnouncement.image != null"/>
      <p class="col">{{currentAnnouncement.text}}</p>
    </div>
    <div *ngIf="constants.firebaseUser != null && (constants.firebaseUser.uid != currentAnnouncement.uid)">
      <div class="row mt-4 p-3">
        <h5 class="text-info">Diesen Fundgegenstand abholen? Bitte verifiziere, dass dieser Gegenstand dir gehört!</h5>
      </div>
      <div class="row mt-2 p-2">
        <div class="col-xl-6">
          <form [formGroup]="receiveFoundObjectForm" id="receiveFoundObjectFormId" (ngSubmit)="receiveFoundObject()" >
            <div class="form-group">
              <div class="form-row">
                <label for="question1" class="control-label font-weight-bold">{{currentAnnouncement.announcement_verification?.key1}}</label>
                <input type="text" id="question1" class="form-control" formControlName="question1" [ngClass]="receiveFoundObjectFormSubmitted && receiveFoundObjectForm.controls['question1']?.errors ? 'is-invalid' : ''">
                <div class="invalid-feedback ml-1 mb-1" *ngIf="receiveFoundObjectForm.controls['question1']?.errors?.required">Dieses Feld ist erforderlich.</div>
              </div>
              <div class="form-row mt-2">
                <label for="question2" class="control-label font-weight-bold">{{currentAnnouncement.announcement_verification?.key2}}</label>
                <input type="text" id="question2" class="form-control" formControlName="question2" [ngClass]="receiveFoundObjectFormSubmitted && receiveFoundObjectForm.controls['question2']?.errors ? 'is-invalid' : ''">
                <div class="invalid-feedback ml-1 mb-1" *ngIf="receiveFoundObjectForm.controls['question2']?.errors?.required">Dieses Feld ist erforderlich.</div>
              </div>
              <div class="form-row mt-2">
                <label for="question3" class="control-label font-weight-bold">{{currentAnnouncement.announcement_verification?.key3}}</label>
                <input type="text" id="question3" class="form-control" formControlName="question3" [ngClass]="receiveFoundObjectFormSubmitted && receiveFoundObjectForm.controls['question3']?.errors ? 'is-invalid' : ''">
                <div class="invalid-feedback ml-1 mb-1" *ngIf="receiveFoundObjectForm.controls['question3']?.errors?.required">Dieses Feld ist erforderlich.</div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button form="receiveFoundObjectFormId" type="submit" class="btn btn-info float-right">Abholen</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="float-right">
      <mat-icon (click)="printAnnouncement(currentAnnouncement)" ngbTooltip="Als PDF anzeigen">print</mat-icon>
    </div>
  </div>
</ng-template>
