/*#region Alert*/

.alert-danger{
  margin-top: 4%;
}

input.hidden {
  position: absolute;
  left: -9999px;
}

/*#endregion */

/*#region Fonts*/
.headerFont{
  padding-top: 15px;
  padding-left: 10px;
}

#userFullName{
  color:#17a2b8;
}

#actions{
  color:#17a2b8;
}

/*#endregion */

/*#region User Data*/
#userDataPanel{
  margin-top:5%;
}

#imageContainer{
  text-align: center;
}

.avatar{
  width: 100%;
  padding-bottom: 10px;
}

.title{
  font-size:16px;
  font-weight:500;
}

.bot-border{
  border-bottom:2px #f8f8f8 solid;
  margin:5px 0  5px 0
}

/*#endregion */

/*#region Buttons*/
.actionBtn{
  margin-top: 5px;
  width: 100%;
}

/*#endregion */
