<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3 fixed-top">
  <div class="container">
    <img id="image" src="../../assets/img/skyline_color.png" class="logo-img" alt="Responsive image">
    <span class="navbar-brand mb-0 h1 ml-3" id="nav_brand">Bürgerbüro</span>
    <button type="button" class="btn btn-secondary ml-3" (click)="backToPortal()">
      <mat-icon>dashboard</mat-icon>
      Portal
    </button>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <button type="button" class="btn btn-outline-info mr-1 ml-1" [routerLink]="'home'" [ngClass]="isActive() == '/home' ? 'btn-info' : 'btn-outline-info'">
          <mat-icon>home</mat-icon>
          Home
        </button>
        <button type="button" class="btn mr-1 ml-1" [routerLink]="'black-board'" [ngClass]="isActive() == '/black-board' ? 'btn-info' : 'btn-outline-info'">
          <mat-icon>assignment</mat-icon>
          Aushänge
        </button>
        <button type="button" class="btn mr-1 ml-1" [routerLink]="'user-account'" *ngIf="this.constants.userRole==1" [ngClass]="isActive() == '/user-account' ? 'btn-info' : 'btn-outline-info'">
          <mat-icon>settings</mat-icon>
          Konto
        </button>
        <button type="button" class="btn mr-1 ml-1" [routerLink]="'work'" *ngIf="this.constants.userRole==2" [ngClass]="isActive() == '/work' ? 'btn-info' : 'btn-outline-info'">
          <mat-icon>work</mat-icon>
          Arbeit
        </button>
        <button type="button" class="btn mr-1 ml-1" [routerLink]="'admin-panel'" *ngIf="this.constants.userRole==3" [ngClass]="isActive() == '/admin-panel' ? 'btn-info' : 'btn-outline-info'">
          <mat-icon>settings</mat-icon>
          Admin Panel
        </button>
        <button type="button" class="btn btn-outline-light mr-1 ml-1" (click)="openModal(authModal)" *ngIf="this.constants.userRole==0">
          <mat-icon>account_circle</mat-icon>
          Anmeldung
        </button >
        <div ngbDropdown *ngIf="this.constants.userRole!=0">
          <button class="btn btn-outline-light mr-1 ml-1" id="useraccount-dropdown" ngbDropdownToggle>{{this.constants.firebaseUser.displayName}} <mat-icon>account_circle</mat-icon></button>
          <div ngbDropdownMenu aria-labelledby="useraccount-dropdown">
            <button ngbDropdownItem (click)="this.constants.performLogout()">Logout</button>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>

<ng-template #authModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="this.constants.authAction=='login'">Anmeldung</h4>
    <h4 class="modal-title" *ngIf="this.constants.authAction=='register'">Registrierung</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" (click)="modalClosed()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="authForm" id="authFormId" (ngSubmit)="performLoginOrRegister()" >
      <div class="form-group">
        <div class="form-row gender" *ngIf="this.constants.authAction=='register'">
          <div class="col-auto my-1">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gender" formControlName="gender" id="genderFemale" value="2" checked>
              <label class="form-check-label"  for="genderFemale">
                Frau
              </label>
            </div>
          </div>
          <div class="col-auto my-1">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gender" formControlName="gender" id="genderMale" value="1" >
              <label class="form-check-label" for="genderMale">
                Herr
              </label>
            </div>
          </div>
          <div class="col-auto my-1">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gender" formControlName="gender" id="genderDivers" value="0">
              <label class="form-check-label" for="genderDivers">
                Divers
              </label>
            </div>
          </div>
        </div>
        <div class="form-row" *ngIf="this.constants.authAction=='register'">
          <label for="firstName" class="control-label font-weight-bold mt-1">Vorname</label>
          <input type="text" id="firstName" class="form-control" formControlName="firstName" placeholder="Vornamen eintragen..." [ngClass]="isSubmitted && authForm.controls['firstName']?.errors ? 'is-invalid' : ''">
          <div class="invalid-feedback ml-1 mb-1" *ngIf="authForm.controls['firstName']?.errors?.required">Dieses Feld ist erforderlich..</div>
          <div class="invalid-feedback ml-1 mb-1" *ngIf="authForm.controls['firstName']?.errors?.maxlength">Die Eingabe darf maximal 255 Zeichen lang sein.</div>
        </div>
        <div class="form-row" *ngIf="this.constants.authAction=='register'">
          <label for="lastName" class="control-label font-weight-bold mt-1">Nachname</label>
          <input type="text" id="lastName" class="form-control" formControlName="lastName" placeholder="Nachnamen eintragen..." [ngClass]="isSubmitted && authForm.controls['lastName']?.errors ? 'is-invalid' : ''">
          <div class="invalid-feedback ml-1 mb-1" *ngIf="authForm.controls['lastName']?.errors?.required">Dieses Feld ist erforderlich..</div>
          <div class="invalid-feedback ml-1 mb-1" *ngIf="authForm.controls['lastName']?.errors?.maxlength">Die Eingabe darf maximal 255 Zeichen lang sein.</div>
        </div>
        <div class="form-row" *ngIf="this.constants.authAction=='register'">
          <label for="nickName" class="control-label font-weight-bold mt-1">Spitzname</label>
          <input type="text" id="nickName" class="form-control" formControlName="nickName" placeholder="Spitznamen eintragen...">
          <div class="invalid-feedback ml-1 mb-1" *ngIf="authForm.controls['nickName']?.errors?.maxlength">Die Eingabe darf maximal 255 Zeichen lang sein.</div>
        </div>
        <div class="form-row" *ngIf="this.constants.authAction=='register'">
          <label for="birthDate" class="control-label font-weight-bold mt-1">Geburtsdatum</label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" id="birthDate" readonly="readonly"
                   name="dp" formControlName="birthDate" ngbDatepicker #d="ngbDatepicker" [minDate]="{year:1920, month:1, day:1}" [ngClass]="isSubmitted && authForm.controls['birthDate']?.errors? 'is-invalid' : ''">
            <div class="input-group-append">
              <button type="button" class="btn btn-info" (click)="d.toggle()"><mat-icon>event</mat-icon></button>
            </div>
            <div class="invalid-feedback ml-1 mb-1" *ngIf="authForm.controls['birthDate']?.errors?.required">Dieses Feld ist erforderlich..</div>
          </div>
        </div>
        <div class="form-row" *ngIf="this.constants.authAction=='register'">
          <label for="streetAddress" class="control-label font-weight-bold mt-1">Straße / Hausnummer</label>
          <input type="text" id="streetAddress" class="form-control" formControlName="streetAddress" placeholder="Straße und Hausnummer eintragen..." [ngClass]="isSubmitted && authForm.controls['streetAddress']?.errors ? 'is-invalid' : ''">
          <div class="invalid-feedback ml-1 mb-1" *ngIf="authForm.controls['streetAddress']?.errors?.required">Dieses Feld ist erforderlich..</div>
          <div class="invalid-feedback ml-1 mb-1" *ngIf="authForm.controls['streetAddress']?.errors?.maxlength">Die Eingabe darf maximal 255 Zeichen lang sein.</div>
        </div>
        <div class="form-row" *ngIf="this.constants.authAction=='register'">
          <div class="form-group col-xl-5 pl-0 mb-0">
            <label for="zipCode" class="control-label font-weight-bold mt-1">PLZ</label>
            <input type="text" id="zipCode" class="form-control" formControlName="zipCode"  placeholder="PLZ eintragen..." [ngClass]="isSubmitted && authForm.controls['zipCode']?.errors ? 'is-invalid' : ''">
            <div class="invalid-feedback ml-1 mb-1" *ngIf="authForm.controls['zipCode']?.errors?.required">Dieses Feld ist erforderlich..</div>
            <div class="invalid-feedback ml-1 mb-1" *ngIf="authForm.controls['zipCode']?.errors?.maxlength">Die Eingabe darf maximal 255 Zeichen lang sein.</div>
          </div>
          <div class="form-group col-xl-7 pr-0 mb-0">
            <label for="city" class="control-label font-weight-bold mt-1">Stadt</label>
            <input type="text" id="city" class="form-control" readonly="readonly" value="Smart City">
          </div>
        </div>
        <div class="form-row" *ngIf="this.constants.authAction=='register'">
          <label for="phone" class="control-label font-weight-bold mt-1">Telefon</label>
          <input type="text" id="phone" class="form-control" formControlName="phone" placeholder="Telefonnr eintragen...">
        </div>
        <div class="form-row">
          <label for="email" class="control-label font-weight-bold mt-1">E-Mail</label>
          <input type="text" id="email" class="form-control" formControlName="email" placeholder="E-Mail eintragen..." [ngClass]="isSubmitted && authForm.controls['email']?.errors ? 'is-invalid' : ''">
          <div class="invalid-feedback ml-1 mb-1" *ngIf="authForm.controls['email']?.errors?.required">Dieses Feld ist erforderlich..</div>
          <div class="invalid-feedback ml-1 mb-1" *ngIf="authForm.controls['email']?.errors?.email">Ungültiges E-Mail Format.</div>
          <div class="invalid-feedback ml-1 mb-1" *ngIf="authForm.controls['email']?.errors?.maxlength">Die Eingabe darf maximal 255 Zeichen lang sein.</div>
        </div>
        <div class="form-row">
          <label for="password" class="control-label font-weight-bold mt-1">Passwort</label>
          <input type="password" id="password" class="form-control" formControlName="password" placeholder="Passwort eintragen..." [ngClass]="isSubmitted && authForm.controls['password'].errors ? 'is-invalid' : ''">
          <div class="invalid-feedback ml-1 mb-1" *ngIf="authForm.controls['password']?.errors?.required">Dieses Feld ist erforderlich..</div>
          <div class="invalid-feedback ml-1 mb-1" *ngIf="authForm.controls['password']?.errors?.minlength">Passwort muss mindestens 6 Zeichen lang sein.</div>
          <div class="invalid-feedback ml-1 mb-1" *ngIf="authForm.controls['password']?.errors?.maxlength">Die Eingabe darf maximal 255 Zeichen lang sein.</div>
        </div>
      </div>

      <button type="button" class="btn btn-link text-info" *ngIf="this.constants.authAction=='login'" (click)="setAction('register')">Noch kein Bürger der Smart City? Jetzt registrieren!</button>
      <button type="button" class="btn btn-link text-info" *ngIf="this.constants.authAction=='register'" (click)="setAction('login')">Bereits Bürger der Smart City? Jetzt anmelden!</button>
    </form>
  </div>
  <div class="modal-footer">
    <button form="authFormId" type="submit" *ngIf="this.constants.authAction=='login'" class="btn btn btn-info">Anmelden</button>
    <button form="authFormId" type="submit" *ngIf="this.constants.authAction=='register'" class="btn btn btn-info">Registrierung</button>
  </div>
</ng-template>

